@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0
}

html {
  font: 400 62.5% 'Roboto', sans-serif;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

.topline {
  background-color: #9B51E0;
  width: 100%;
  height: 5px;
}

.page {
  max-width: 1260px;
  margin: 0 auto;
}

.header__main {
  margin: 0 11.984% 0 11.825%;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.search-row {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header {
  width: 100%;
  position: relative;
}
.header__square {
  width: 50px;
  height: 48px;
  border: solid 3px #FFC740;
  position: absolute;
  margin-top: 3.125%;
}

.header__text {
  margin: 4.375% 0 0 2.604%;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #000000;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
}

.header__search {
  margin-top: 35px;
  max-width: 201px;
  display: flex;
  flex-wrap: nowrap;
}

.header__search-input {
  width: 158px;
  height: 33px;
  border: solid 1px #6D3D99;
  border-right: 0px;
  margin: 0;
  padding: 0;
}

.header__search-button {
  width: 42px;
  height: 33px;
  border: solid 1px #6D3D99;
  border-left: 0px;
  background-color: #9B51E0;
  color: #FFFFFF;
  outline: none;
  margin: 0;
  padding: 0;
}

.navbar {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #050505;
  max-width: 960px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;
}

.item {
  width: 123px;
  height: 47px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  animation: bounce .5s;
}

.item p {
  margin: 0;
}

.item:hover {
  background-color: #FFC740;
  color: #FFFFFF;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.main__image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(../images/Mountains-and-hills-julian-alps.png) no-repeat;
  background-position: center bottom;
  width: 76.190%;
  margin: 1.587% 11.904% 0 11.746%;
}

.image-article {
  font-size: 6.4rem;
  line-height: 7.4rem;
  color: #FFC740;
  text-align: left;
  width: 53.02%;
  height: 45.4545%;
  margin: 0 0 0 4.583%;
  padding-top: 16px;
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: .05s;
}
.animate span:nth-of-type(3) {
  animation-delay: .1s;
}
.animate span:nth-of-type(4) {
  animation-delay: .15s;
}
.animate span:nth-of-type(5) {
  animation-delay: .2s;
}
.animate span:nth-of-type(6) {
  animation-delay: .25s;
}
.animate span:nth-of-type(7) {
  animation-delay: .3s;
}
.animate span:nth-of-type(8) {
  animation-delay: .35s;
}
.animate span:nth-of-type(9) {
  animation-delay: .4s;
}
.animate span:nth-of-type(10) {
  animation-delay: .45s;
}
.animate span:nth-of-type(11) {
  animation-delay: .5s;
}
.animate span:nth-of-type(12) {
  animation-delay: .55s;
}
.animate span:nth-of-type(13) {
  animation-delay: .6s;
}
.animate span:nth-of-type(14) {
  animation-delay: .65s;
}
.animate span:nth-of-type(15) {
  animation-delay: .7s;
}
.animate span:nth-of-type(16) {
  animation-delay: .75s;
}
.animate span:nth-of-type(17) {
  animation-delay: .8s;
}
.animate span:nth-of-type(18) {
  animation-delay: .85s;
}
.animate span:nth-of-type(19) {
  animation-delay: .9s;
}
.animate span:nth-of-type(20) {
  animation-delay: .95s;
}
.animate span:nth-of-type(21) {
  animation-delay: 1s;
}
.animate span:nth-of-type(22) {
  animation-delay: 1.05s;
}
.animate span:nth-of-type(23) {
  animation-delay: 1.1s;
}
.animate span:nth-of-type(24) {
  animation-delay: 1.15s;
}

.one span {
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale .4s forwards;
}

@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(.3);
  }

  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}


.image-text {
  width: 46.979%;
  margin: 1.777% 0 0 4.583%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.image-text p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #FFFFFF;
  text-align: left;
}

.image-text button {
  width: 27.716%;
  height: 34px;
  border: solid 1px #6D3D99;
  background-color: #6D3D99;
  color: #FFFFFF;
  outline: none;
  margin: 15px 0 4.444% 0;
}

.article {
  display: flex;
  flex-wrap: wrap;
  margin: 0 12.777% 0 12.619%;
  justify-content: space-between;
}
.article1, .article2, .article3, .article4,
.article5, .article6, .article7 {
  margin-top: 3.125%;
}

.article1__square {
  background-color: #9B51E0;
  width: 16px;
  height: 16px;
}

.article1__headline {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000000;
  margin-left: 1.086%;
  width: 133px;
  height: 17px;
}

.article1__rectangle {
  background-color: #9B51E0;
  width: 301px;
  height: 16px;
  margin-left: 1.086%;
}

.article1_image {
  width: 138px;
  height: 137px;
  margin: 13px 0 0 0;
  border: solid 2px #FFC740;
  overflow: hidden;
}

.article1_image img {
  padding: 2px 2px 2px 2px;
  width: 134px;
  height: 133px;
  animation: grow 0.6s;
}

@keyframes grow{
  0%  { transform: scale(0) }
  80% { transform: scale(1.1)}
  100% { transform: scale(1) }
}

.article1__text-block {
  align-content: space-between;
}

.article1__text {
  width: 300px;
  height: 105px;
  margin: 16px 0 0 20px;
}

.article1__text p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
}

.article1__footer {
  margin: 16px 0 0 20px;
}

.article1__footer span {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.article2__square {
  background-color: #FFC740;
  width: 16px;
  height: 16px;
}

.article2__headline {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000000;
  width: 152px;
  height: 17px;
  margin-left: 1.086%;
}

.article2__rectangle {
  background-color: #FFC740;
  width: 283px;
  height: 16px;
  margin-left: 1.086%;
}

.article2_image {
  width: 138px;
  height: 137px;
  margin: 13px 0 0 0;
  border: solid 2px #FFC740;
  overflow: hidden;
}

.article2_image img {
  padding: 2px 2px 2px 2px;
  width: 134px;
  height: 133px;
  animation: grow 0.6s;
}

@keyframes grow{
  0%  { transform: scale(0) }
  80% { transform: scale(1.1)}
  100% { transform: scale(1) }
}

.article2__text-block {
  align-content: space-between;
}

.article2__text {
  width: 300px;
  height: 105px;
  margin: 16px 0 0 20px;
}

.article2__text p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
}

.article2__footer {
  margin: 16px 0 0 20px;
}

.article2__footer span {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.article3__square {
  background-color: #FFC740;
  width: 16px;
  height: 16px;
}

.article3__headline {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000000;
  width: 133px;
  height: 17px;
  margin-left: 1.086%;
}

.article3__rectangle {
  background-color: #FFC740;
  width: 300px;
  height: 16px;
  margin-left: 1.086%;
}

.article3_image {
  width: 138px;
  height: 137px;
  margin: 13px 0 0 0;
  border: solid 2px #FFC740;
  overflow: hidden;
}

.article3_image img {
  padding: 2px 2px 2px 2px;
  width: 134px;
  height: 133px;
  animation: grow 0.6s;
}

@keyframes grow {
  0%  { transform: scale(0) }
  80% { transform: scale(1.1)}
  100% { transform: scale(1) }
}

.article3__text-block {
  align-content: space-between;
}

.article3__text {
  width: 300px;
  height: 105px;
  margin: 16px 0 0 20px;
}

.article3__text p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
}

.article3__footer {
  margin: 16px 0 0 20px;
}

.article3__footer span {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.article4__square {
  background-color: #9B51E0;
  width: 16px;
  height: 16px;
}

.article4__headline {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000000;
  width: 152px;
  height: 17px;
  margin-left: 1.086%;
}

.article4__rectangle {
  background-color: #9B51E0;
  width: 283px;
  height: 16px;
  margin-left: 1.086%;
}

.article4_image {
  width: 138px;
  height: 137px;
  margin: 13px 0 0 0;
  border: solid 2px #FFC740;
  overflow: hidden;
}

.article4_image img {
  padding: 2px 2px 2px 2px;
  width: 134px;
  height: 133px;
  animation: grow 0.6s;
}

@keyframes grow{
  0%  { transform: scale(0) }
  80% { transform: scale(1.1)}
  100% { transform: scale(1) }
}

.article4__text-block {
  align-content: space-between;
}

.article4__text {
  width: 300px;
  height: 105px;
  margin: 16px 0 0 20px;
}

.article4__text p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
}

.article4__footer {
  margin: 16px 0 0 20px;
}

.article4__footer span {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.article5__square {
  background-color: #FFC740;
  width: 16px;
  height: 16px;
}

.article5__headline {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000000;
  margin-left: 5px;
  width: 65px;
  height: 17px;
}

.article5__rectangle {
  background-color: #FFC740;
  width: 212px;
  height: 16px;
  margin-left: 5px;
}

.article5__text-block {
  align-content: space-between;
}

.article5__text {
  width: 300px;
  height: 105px;
  margin: 16px 0 0 0;
}

.article5__text p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
}

.article5__footer {
  margin: 16px 0 0 0;
}

.article5__footer span {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.article6__square {
  background-color: #9B51E0;
  width: 16px;
  height: 16px;
}

.article6__headline {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000000;
  margin-left: 5px;
  width: 100px;
  height: 17px;
}

.article6__rectangle {
  background-color: #9B51E0;
  width: 177px;
  height: 16px;
  margin-left: 5px;
}

.article6__text-block {
  align-content: space-between;
}

.article6__text {

}

.post1__description {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
  width: 251px;
  height: 29px;
  margin: 3px 0 0 0;
}

.post2__description {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
  width: 251px;
  height: 29px;
  margin: 3px 0 0 0;
}

.post3__description {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
  width: 251px;
  height: 29px;
  margin: 3px 0 0 0;
}

.article6__post1 {
  margin-top: 16px;
}

.article6__post2 {
  margin-top: 6px;
}

.article6__post3 {
  margin-top: 6px;
}

.article7__square {
  background-color: #FFC740;
  width: 16px;
  height: 16px;
}

.article7__headline {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000000;
  margin-left: 5px;
  width: 65px;
  height: 17px;
}

.article7__rectangle {
  background-color: #FFC740;
  width: 212px;
  height: 16px;
  margin-left: 5px;
}

.article7__text-block {
  align-content: space-between;
}

.article7__text {
  width: 300px;
  height: 105px;
  margin: 16px 0 0 0;
}

.article7__text p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
}

.article7__footer {
  margin: 16px 0 0 0;
}

.article7__footer span {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.post1__text {
  margin-left: 10px;
}

.post2__text {
  margin-left: 10px;
}

.post3__text {
  margin-left: 10px;
}

.footer {
  margin: 2.619% 0 0 12.619%;
  max-width: 960px;
}

.footer__square {
  background-color: #9B51E0;
  width: 16px;
  height: 16px;
}

.footer__headline {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: #000000;
  margin-left: 0.52%;
  width: 52px;
  height: 17px;
}

.footer__rectangle {
  background-color: #9B51E0;
  width: 89.895%;
  height: 16px;
  margin-left: 0.52%;
}

.footer__images {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.img-html {
  margin: 1.77% 0 0 6.979%;
  position: absolute;
}

.img-css {
  margin: 2.5% 0 0 19.895%;
  position: absolute;
}

.img-nodejs {
  margin: 3.4375% 0 0 32.5%;
  position: absolute;
}

.img-php {
  margin: 2.291% 0 0 57.708%;
  position: absolute;
}

.img-mysql {
  margin: 3.125% 0 0 77.504%;
  position: absolute;
}


.footer__company {
  background-color: #6D3D99;
  display: flex;
  flex: 1;
  height: 115px;
  margin-top: 144px;
}

.footer__company-text {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: #FFFFFF;
  width: 230px;
  height: 17px;
  margin: 3.888% 0 0 41.904%;
}

